/* color palette: https://coolors.co/067bc2-ee4266-ffd23f-23ce6b-00f572 */

body {
	background-color: #333;
	color: #FFF;
	text-align: center;
	max-width: 1000px;
	text-align: center;
	margin: 50px auto;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 17pt;
}

@media screen and (max-width:769px) {
	body {
		font-size: 17pt;
		font-size: 3vw;
	}
}

@keyframes wobble {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(2.5deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-2.5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.result {
	font-size: 120%;
	margin-top: 50px;
	animation: wobble 2.2s linear 0s infinite;
}

.symbol {
	font-size: 150%;
}

.autocomplete {
	position: relative;
	display: inline-block;
}

.autocomplete-items {
	position: absolute;
	margin-top: -10px;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}
.autocomplete-items div {
	margin: 0px 16px;
	cursor: pointer;
	background-color: #666;
	border: 2px solid #067bc2;
	border-top: none;
}
.autocomplete-items div:hover {
	background-color: #999;
}
.autocomplete-active {
	background-color: #067bc2 !important;
	color: #fff;
}

#result {
	display: none;
	margin: 40px 0px;
}

#lyrics-line {
	font-size: 120%;
	font-style: italic;
	font-weight: bold;
	text-wrap-style: balance;
	background-color: #00a34c;
	border: 2px solid #00f572;
	border-radius: 12px;
	padding: 20px;
	margin: 50px 100px;
}

#game-form {
	font-size: 120%;
}

#guess {
	font-size: 110%;
	margin: 10px;
	padding: 6px;
	color: #FFF;
	background-color: #666;
	border: 3px solid #067bc2;
	border-radius: 6px;
	text-align: center;
	transition: transform .2s;
}
#guess:disabled {
	border-color: #666 !important;
}
#guess:not(:disabled):hover {
	transform: scale(1.05);
	border: 3px solid #129ff8;
}

#tries {
    position: fixed;
	bottom: 0%;
	right: 0%;
	font-size: 80%;
	color: #aaa;
	margin-right: 20px;
	margin-bottom: 0px;
	text-align: right;
}
#tries > div {
	font-style: italic;
	color: #999;
	background-image: linear-gradient(#999, #333);
    color: transparent;
    background-clip: text;
	padding-bottom: 20px;
}

#message {
	font-size: 60%;
	color: #ffc60a;
}

.buttons {
	margin: 40px 0px;
}

button {
	font-size: 80%;
	padding: 6px 12px;
	margin: 10px 20px;
	width: 100px;
	opacity: 0.9;
	transition: transform .2s;
}
button:disabled {
	background-color: #94908b !important;
}
button:not(:disabled):hover {
	animation: wobble .6s linear 0s infinite;
	cursor: pointer;
	opacity: 1;
}

#submit {
	background-color: #23ce6b;
	border: 2px solid #23ce6b;
	border-radius: 6px;
}

#giveup {
	background-color: #ffd23f;
	border: 2px solid #ffd23f;
	border-radius: 6px;	
}

#reset {
	background-color: #ee4266;
	border: 2px solid #ee4266;
	border-radius: 6px;
}